h3.titulo{
text-align: center;
color: rgba(121, 85, 72, 0.97);

}

h1{
  font-size: 23px !important;
font-style: initial;
font-family: roboto;
}
.polaroid{ /*marco */
  width: 90%;
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 3% 0% 1%;
  margin: 5%;

}

div.incli-izq{
  -moz-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

div.incli-der{
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
  transform: rotate(2deg);
}

.polaroid img::after{
content: attr(alt);

}
.home-content{
/*background-color: #665252;*/
/*background-color: rgba(195, 150, 73, 0.77);*/
background-image: url('../imgs/min-church-mountain-bg1.jpg');
background-repeat: round;
background-size: cover;
}

.ui-grid-a img {
    margin: auto;
    width: 90%;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

.img-description{
  width: 50%;
  margin: auto;
  border: 4px ridge #e4d4d4;
  border-radius: 0px;
  border-bottom-style: none;
}

.img-description img{
  width: 100%;
  margin: auto;
}

div.description{
  background-color: white;
  padding: 10%;
  text-align: justify;
  margin: 1%;
}

.ui-icon-custom:after {
    background-image: url("../custom-icons/globe.png");
    background-position: 3px 3px;
    background-size: 70%;
}


#contenido{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    position : absolute !important;
    top : 40px !important;
    right : 0;
    bottom : 40px !important;
    left : 0 !important;
}
